<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>HBS Page</title>
</head>
<body>
    <div class="conatiner">
      {{>nav}}
         <center>Welcome to our website </center>
         <center><h2>created by aditya sabde</h2></center>
    </div>
   
</body>
{{>scriptlink}}
</html>