<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Register</title>
</head>
<body>
{{>nav}}
<div class="container">
   
    <h1>Login</h1>
    <form action="/login" method="POST">

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input name="Email"type="email" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name = "Password"type="password" class="form-control" id="exampleInputPassword1">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
{{>scriptlink}}
</html>